body{
margin:0;
font-family:Arial;
background:#0f2d2a;
color:white;
text-align:center;
}

header{
padding:60px 20px;
}

.btn{
display:inline-block;
padding:12px 25px;
background:#1dbf73;
color:white;
text-decoration:none;
border-radius:30px;
margin-top:15px;
}

section{
padding:30px;
}

.card{
background:#163b37;
padding:20px;
margin:15px;
border-radius:15px;
}

footer{
padding:20px;
background:#081c1a;
}
